<div class="container">
    <div class="row justify-content-center">
        <h1 class="mt-4">Eat the Burger!</h1>
    </div>
    <div class="row justify-content-center">
        <img src="https://media1.tenor.com/images/67268421bff35e4620b7be8ae0fc5e29/tenor.gif?itemid=7221292" class="burger_img">
    </div>

    <!--renders all of the burgers to be devoured-->
    <div class="row justify-content-center">
        <div class="col-4">
            <h2 class="text-center">Burgers to eat</h2>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <form action="/burger/eat/{{id}}" method="POST">
                    <div>
                        <li class="m-2"><h4>{{burger_name}}</h4><button class="ml-2 btn btn-outline-danger" type="submit">Devour
                                It!</button></li>

                    </div>
                </form>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

<!--renders devoured burgers-->
        <div class="col-4">
            <h2 class="text-center">Devoured Burgers</h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li class="m-3"><h4>{{burger_name}}</h4></li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

<!--Adds new burger to uneaten burger list-->
    <div class="row justify-content-center">
        <h2 class="text-center">Add a burger</h2>
    </div>
    <div class="row justify-content-center">
        <form class="create-form" action="/burger/create" method="POST">
            <label for="burger">Burger Name:</label>
            <input type="text" id="burger" name="burger_name"><button class="m-2 btn btn-outline-danger"
                type="submit">Add burger</button>
        </form>
    </div>
</div>