body {
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/4QWhOJ2Flik7xcgii/videoblocks-abstract-colorful-animation-burger-color-background-burgers-rotating-seamless-loop_rhzsxrha6g_thumbnail-full01.png);
    background-color: lightgoldenrodyellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.burger_img {
    height: 250px;
}